@font-face {
    font-family: 'SpaceX';
    src: url('../font/fonts/SpaceX.eot');
    src: url('../font/fonts/SpaceX.eot?#iefix') format('embedded-opentype'),
         url('../font/fonts/SpaceX.woff2') format('woff2'),
         url('../font/fonts/SpaceX.woff') format('woff'),
         url('../font/fonts/SpaceX.ttf')  format('truetype'),
         url('../font/fonts/SpaceX.svg#SpaceX') format('svg');
}

body {
    overflow: hidden;
}

iframe {
    margin-top: 100vh;
}